@font-face {
  font-family: "Playfair-Display";
  src: url("Fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 95vh;
  background-color: seashell;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #fff;
  padding: clamp(25px, 2vw, 50px) clamp(15px, 2vw, 40px);
  border-radius: clamp(18px, 3vw, 35px);
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  max-width: clamp(300px, 28vw, 500px);
  border: 2px solid #6e4c2e;
}

.cardHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.logo {
  width: clamp(100px, 10vw, 180px);
  height: clamp(100px, 10vw, 180px);
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.6s ease-in forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.name {
  font-family: "Playfair-Display", serif;
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
  color: #6e4c2e;
  position: absolute;
  bottom: -10px;
}

.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: clamp(1.1rem, 1.4vw, 1.5rem);
  font-weight: 600;
  color: black; 
  margin: 25px auto; 
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.inputGroup label {
  font-weight: 450;
  margin-bottom: 5px;
  color: #333;
  font-size: clamp(0.8rem, 1vw, 1.1rem);
}

.inputGroup input {
  padding: clamp(8px, 0.7vw, 12px);
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: clamp(0.8rem, 1vw, 1.1rem);
}

.toggle {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 25px;
  color: #555;
  font-size: 14px;
}

.toggle input[type="checkbox"] {
  position: relative;
  top: 1.5px;
  accent-color: #4b2e2e;
  cursor: pointer;
}

.saveBtn {
  padding: clamp(8px, 0.6vw, 12px);
  background-color: #4b2e2e;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: clamp(0.8rem, 1vw, 1.1rem);
  cursor: pointer;
  display: block;
  text-align: center;
  transition: background 0.3s ease;
}

.saveBtn:hover {
  background-color: #7a451c;
}

.backLink {
  position: relative;
  margin-top: 10px;
  top: 12px;
}

.backLink a {
  color: #6b4226;
  text-decoration: none;
  font-size: 14px;
}

.backLink a:hover {
  color: #a1551a;
}

@media screen and (min-width: 1600px) {
  .name {
    bottom: clamp(25px, 5vh, 50px);
  }

  .toggle label {
    font-size: 0.9rem;
  }

  .backLink a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    max-width: 350px;
  }

  .name {
    bottom: clamp(10px, 5vh, 30px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 15px;
  }
  .name {
    bottom: clamp(15px, 4vh, 30px);
  }
  .card {
    max-width: 350px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-height: 100vh;
    overflow-y: auto;
  }

  .card {
    padding: 10px 15px;
    max-width: 290px;
    margin-top: 1vh;
  }

  .name {
    bottom: clamp(15px, 5vh, 30px);
  }

  .title {
    bottom: 15px;
    font-size: 1rem;
  }

  .inputGroup input,
  .saveBtn {
    padding: 6px;
    font-size: 0.8rem;
  }

  .inputGroup label {
    font-size: 0.8rem;
  }

  .saveBtn {
    position: relative;
    bottom: 1vh;
  }
  .backLink {
    margin-top: 0;
    top: 0;
  }

  .backLink a {
    font-size: 0.8rem;
  }

  .toggle label {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) and (max-height: 400px) {
  .card {
    margin-top: 20vh;
  }

  .name {
    bottom: clamp(20px, 7vh, 30px);
  }
}