.container {
  --min-font-size: 1rem;    /* 16px */
  --max-font-size: 1.25rem; /* 20px */
  --min-heading-size: 2rem; /* 32px */
  --max-heading-size: 4rem; /* 64px */
  --fluid-vw: 2.5vw;        /* A good general fluid unit */
  --fluid-vw-large: 1.5vw;
}

@font-face {
  font-family: 'Poppins';
  src: url('Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  font-family: 'Poppins', sans-serif;
  color: #f5f3f0;
  display: flex;
  flex-direction: column;
  background-image: url('/coffee-2.jpg'); 
  background-size: cover;
  background-position: center;

  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  display: none;
}

.navbar {
  background-color: #110e0c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(0.75rem, 1.2vw, 1.2rem) clamp(1rem, 3vw, 2rem);
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  white-space: nowrap;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: clamp(2px, 0.5vw, 10px); 
  margin-bottom: 9px;
}

.logo {
  width: clamp(45px, 4vw, 60px);
  height: clamp(45px, 4vw, 60px); 
  scale: 1.2;
}

.logo:hover {
    transform: scale(1.4);
    transition: ease 0.3s;
}

.brandName {
  font-family: 'Playfair Display', serif;
  font-size: clamp(1rem, var(--fluid-vw-large), 1.6rem);
  font-weight: 800;
  color: #d4b083;
  position: relative;
  right: clamp(2px, 0.5vw, 10px);
}

.navLinks {
  list-style: none;
  display: flex;
  gap: clamp(0.5rem, 1.5vw, 1.5rem);
  margin-bottom: 9px;
}

.navLinks li a {
  font-size: clamp(0.8rem, 1vw, 1rem); 
  color: #f0e6d2;
  text-decoration: none;
  background: none;
  border: none;
  font-weight: 550;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: #d4b083;
}

.activeLink {
  color: #d4b083;
  font-weight: 550;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: clamp(10px, 1vw, 20px);
}

.searchContainer {
  width: 220px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: clamp(6px, 0.8vw, 8px) clamp(8px, 1vw, 10px);
  border-radius: 18px;
  position: relative;
  right: clamp(100px, 10vw, 160px);
  border: 1px solid #f4c063;
  transition: box-shadow ease-in-out 0.3s;
}

.searchContainer:hover {
  box-shadow: 0 0 0 1px #f4c063;
  transition: ease-in-out 0.5s;
}

.searchIcon {
  margin-right: clamp(4px, 0.6vw, 8px);
  color: #f4c063;
  font-size: clamp(0.9rem, 1.1vw, 1rem);
}

.searchInput {
  font-family: "Poppins", sans-serif;
  border: none;
  font-size: clamp(0.85rem, 1vw, 0.9rem);
  display: block;
  text-align: center;

  padding: 0;
  flex-grow: 1;
  min-width: 50px;
  background-color: transparent;
  color: #333;
}

.searchInput:focus {
  outline: none;
}

.searchInput::placeholder {
  color: #aaa;
  opacity: 1;
  font-size: 0.85rem;
}

.username {
  font-weight: 500;
  font-size: clamp(0.9rem, 1vw, 1rem); 
  position: relative;
  cursor: pointer;
  padding: clamp(6px, 0.8vw, 8px) clamp(6px, 0.8vw, 8px);
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: fit-content;
  width: auto;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) translateY(20px);
  transition: all 0.3s ease;
  z-index: 1000;
  display: flex;
  gap: 1px;
  flex-direction: column;
}

.dropdownButton {
  border: 2px solid #110e0c; 
  padding: clamp(6px, 0.5vw, 12px) clamp(2px, 0.25vw, 8px);
  background-color: white;
  color: #110e0c;
  font-size: clamp(0.7rem, 0.4vw, 0.9rem); 
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 540;
  line-height: 1.1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.dropdownButton:hover {
  background-color: beige;
  transform: none;
  transform: scale(1.1);
  transition: transform 0.2s;
  font-weight: bold;
}

.username:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.bellIcon {
  color: white;
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  transition: color 0.3s ease;
}

.bellIcon:hover {
  color: #d4b083;
}

.hero {
  position: relative;
  height: clamp(50vh, 60vw, 68vh); 
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: clamp(1.5rem, 3vw, 3rem); 
  text-align: center;
  max-width: clamp(400px, 70vw, 800px); 
  border-radius: 20px;
  margin: 140px 0 0 0;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('Fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'Playfair Display';
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 800;
  color: white;
  animation: fadeInDown 1s ease;
}

@font-face {
  font-family: 'Poppins2';
  src: url('Fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.subtitle {
  font-family: 'Poppins2';
  font-size: clamp(var(--min-font-size), 1.2vw, 1.2rem);
  color: white;
  animation: fadeInUp 1.2s ease;
  word-break: break-word; 
  text-wrap: balance;
}

.mainContent {
  padding: clamp(1.5rem, 3vw, 3rem);  
  display: flex;
  justify-content: center;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(200px, 15vw, 300px), 1fr));
  gap: clamp(1rem, 2vw, 2rem);
  width: 100%;
  max-width: 1050px;
  margin: auto;
}

.card {
  font-family: 'Poppins2';
  background-color: #110e0c;
  border-radius: 15px;
  /* position: relative;
  bottom: clamp(30px, 3.3vw, 50px);  */
  padding: clamp(1rem, 1.5vw, 2rem);
  text-align: center;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  animation: fadeIn 1s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.cardIcon {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  color: #d4b083;
}

.cardTitle {
  font-size: clamp(1rem, 1.2vw, 1.3rem);
  font-weight: 549;
  color: white;
}

.cardDesc {
  font-size: clamp(0.8rem, 0.5vw, 1rem); 
  color: #dcd6cf;
  word-break: break-word; 
  text-wrap: balance;
  font-weight: 400;
}

.outletContainer {
  max-height: 100vh;
}

.outletContainer :global(.profilePage) {
  padding: 0 5rem;
  width: 90%;
  margin: 100px auto;
}

.outletContainer :global(.header) {
  width: 100%;
}

.outletContainer :global(.profileTitle) {
  padding: 0; 
}

.outletContainer :global(.center) {
  height: 84vh;
}

.outletContainer :global(.cardContainer) {
  width: 99%;
}

.outletContainer :global(.profileCard) {
  height: 69.6%;
}

.outletContainer :global(.editSection) {
  height: 71.7%;
}

.outletContainer :global(.avatarWrap) {
  margin: 20px auto 0;
  width: 155px;
  height: 300px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toastCard {
  max-width: 90%;
  width: clamp(260px, 18vw, 360px);
  background:  #150d02;
  padding: clamp(8px, 0.5vw, 10px) clamp(8px, 2vw, 12px);
  border-radius: 18px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  font-family: 'Georgia', serif;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 1px solid #d2b48c;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.messageTitle {
  font-size: clamp(0.9rem, 1.2vw, 1.3rem);
  font-weight: bold;
  color: #d4b083;
  display: block;
  text-align: center;
}

.message {
  font-size: clamp(0.7rem, 0.9vw, 1rem);
  color: #f0e6d2;
  display: block;
  text-align: center;
}

@keyframes enterAnimation {
  from {
    opacity: 0;
    transform: translate(40px, -40px) scale(1);
  }
  to {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes leaveAnimation {
  from {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(40px, -40px) scale(0);
  }
}

.enter {
  animation-name: enterAnimation;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.leave {
  animation-name: leaveAnimation;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@media (min-width: 7680px) {
  .hero {
    height: 90vh !important;
  }
  .overlay {
    max-width: 1800px !important;
    padding: 6rem !important;
  }
  .cardsGrid {
    max-width: 1480px !important;
    gap: 4rem !important;
  }
  .card {
    top: 0px !important;
  }
}

@media (min-width: 5120px) and (max-height: 2880px) {
  .hero {
    height: 85vh !important;
  }
  .overlay {
    max-width: 1600px !important;
    padding: 6rem !important;
  }
  .cardsGrid {
    max-width: 1480px !important;
    gap: 4rem !important;
  }
  .card {
    top: 0px !important;
  }
}

@media (min-width: 3840px) and (max-height: 2160px) {
  .hero {
    height: 80vh !important;
  }
  .overlay {
    max-width: 1500px !important;
    padding: 6rem !important;
  }
  .cardsGrid {
    max-width: 1480px !important;
    gap: 4rem !important;
  }
  .card {
    top: 0px !important;
  }
}

@media (min-width: 2560px) {
  .navbar {
    padding: 2rem 6rem;
  }
  .navLinks {
    gap: 2.5rem;
  }
  .navLinks li a {
    font-size: 1.2rem;
  }
  .brandName {
    right: 60px;
  }
  .logo {
    position: relative;
    right: 50px;
  }
  .rightSection {
    position: relative;
    left: 40px;
  }
  .bellIcon {
    font-size: 1.8rem;
  }
  .username {
    font-size: 1.1rem;
    padding: 10px 10px;
  }
  .hero {
    height: 70vh;
    align-items: center; 
    justify-content: center; 
  }
  .overlay {
    max-width: 1200px;
    padding: 5rem;
  }
  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 1.4rem;
  }
  .mainContent {
    padding: 0; 
  }
  .cardsGrid {
    max-width: 1420px;
    gap: 3rem;
    margin-top: auto;
  }
  .card {
    justify-content: center;
    align-items: center;
    bottom: 0;
    top: 40px;
  }
  .cardIcon {
    font-size: 3rem;
  }
  .cardTitle {
    font-size: 1.6rem;
  }
  .cardDesc {
    font-size: 1.1rem;
  }
}

@media (min-width: 1600px) and (max-height: 1080px) {
  .navbar {
    padding: 1.5rem 5rem; 
  }
  .navLinks {
    gap: 2rem;
  }
  .navLinks li a {
    font-size: 1.1rem;
  }
  .brandName {
    right: 60px;
  }
  .logo {
    position: relative;
    right: 50px;
  }
  .rightSection {
    position: relative;
    left: 40px;
  }
  .hero {
    height: 70vh; 
    line-height: 2;
  }
  .overlay {
    max-width: 1000px; 
    padding: 3rem;
  }
  .title {
    font-size: 3.7rem; 
  }
  .subtitle {
    font-size: 1.2rem; 
  }
  .cardsGrid {
    grid-template-columns: repeat(auto-fit, minmax(clamp(200px, 12vw, 300px), 1fr));
    max-width: 1400px; 
    gap: 2.5rem;
  }
  .card {
    padding: 2.5rem;
    bottom: 90px;
  }
  .cardIcon {
    font-size: 2.8rem;
  }
  .cardTitle {
    font-size: 1.4rem;
  }
  .cardDesc {
    font-size: 0.9rem;
  }
}

@media (max-width: 1280px) {
  .hero {
    height: 63vh;
  }
  .cardsGrid {
    max-width: 980px;
  }
  .overlay {
    max-width: 800px; 
    padding: 3rem;
  }
  .title {
    font-size: 2.5rem;
    line-height: 2; 
  }
  .subtitle {
    font-size: 0.9rem; 
  }
  .navLinks {
    margin-bottom: 12px;
  }
}

@media (min-height: 1000px) and (max-width: 1280px) {
  .cardsGrid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: clamp(2rem, 5vw, 5rem);
    row-gap: clamp(2rem, 5vw, 4rem);
    max-width: 600px;
  }
  .hero {
    height: 60vh;
  }
  .overlay {
    max-width: 700px; 
    padding: 2rem;
    border-radius: 25px;
  }
  .navLinks {
    margin-bottom: 15px;
  }
  .leftSection {
    margin-bottom: 5px;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .hero {
    height: 57vh;
  }
  .cardsGrid {
    max-width: 930px;
  }
  .overlay {
    max-width: 600px; 
    padding: 2rem;
  }
  .title {
    font-size: 2rem;
    line-height: 2; 
  }
  .subtitle {
    font-size: 0.8rem; 
  }
  .navLinks {
    margin-bottom: 13px;
  }
  .leftSection {
    margin-bottom: 6px;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 49vh;
    padding: clamp(1rem, 6vw, 2rem);
  }
  .overlay {
    max-width: 600px;
    padding: clamp(1rem, 2.5vw, 2rem);
  }
  .title {
    font-size: 2rem;
    line-height: 2;
  }
  .subtitle {
    font-size: 0.8rem;
    word-break: break-word; 
    text-wrap: balance;
  }
  .cardsGrid {
    max-width: 500px;
  }
  .leftSection {
    margin-bottom: 1px;
  }
}

@media (max-width: 540px) {
  .navbar {
    padding: 0.1rem 0.5rem;
    justify-content: flex-start;
    gap: 0;
  }
  .logo {
    width: 25px;
    height: 25px;
  }
  .brandName {
    font-size: 0.7rem;
  }
  .navLinks {
    margin-bottom: 20px;
  }
  .navLinks li a {
    font-size: 0.5rem;
  }
  .rightSection {
    margin-left: auto;
  }
  .leftSection {
    right: 0;
  }
  .username {
    font-size: 0.5rem;
  }
  .bellIcon {
    font-size: 0.9rem;
  }
  .hero {
    height: 36vh;
    padding: clamp(1rem, 6vw, 2rem);
  }
  .overlay {
    max-width: 600px;
    padding: clamp(1rem, 2.5vw, 2rem);
  }
  .title {
    font-size: 1.5rem;
    line-height: 2;
  }
  .subtitle {
    font-size: 0.6rem;
    word-break: break-word; 
    text-wrap: balance;
  }
  .cardsGrid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: clamp(2rem, 5vw, 5rem);
    row-gap: clamp(2rem, 5vw, 4rem);
    max-width: 400px;
  }
  .card {
    padding: 15px;
  }
  .cardTitle {
    font-size: 0.9rem;
  }
  .cardDesc {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.2rem 0.5rem;
    justify-content: flex-start;
    gap: 0;
  }
  .leftSection {
    right: 0;
    gap: 2px;
    margin-bottom: 2px;
  }
  .logo {
    width: 25px;
    height: 25px;
    display: none;
  }
  .brandName {
    font-size: 0.7rem;
    display: none;
    font-weight: 700;
    min-width: fit-content;
  }
  .navLinks {
    gap: 0.4rem;
    flex-shrink: 1;
    position: relative;
    right: 35px;
    top: 0;
  }
  .navLinks li a {
    font-size: 0.5rem;
  }
  .rightSection {
    margin-left: auto;
  }
  .username {
    font-size: 0.5rem;
    padding: clamp(4px, 1.2vw, 6px) clamp(4px, 1.2vw, 6px);
  }
  .dropdownButton {
    font-size: 0.3rem;
    padding: 3px 4px;
    border-radius: 4px;
  }
  .bellIcon {
    font-size: 1rem;
  }
  .hero {
    height: 40vh;
    padding: clamp(0.8rem, 7vw, 1.5rem);
  }
  .overlay {
    padding: 1.5rem;
  }
  .title {
    font-size: 1.1rem;
    white-space: nowrap;
  }
  .subtitle {
    font-size: 0.4rem;
    line-height: 1.5;
  }
  .cardsGrid {
    column-gap: 0.6rem;
    row-gap: 0.6rem;
    max-width: 300px;
  }
  .card {
    padding: 10px;
  }
  .cardIcon {
    font-size: 1.3rem;
  }
  .cardTitle {
    font-size: 0.9rem;
  }
  .cardDesc {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) and (max-height: 500px) {
  .container {
    min-height: 100vh;
    max-height:100vh;
    overflow-y: auto;
  }
  .overlay {
    padding: 1rem;
  }
  .title {
    font-size: 0.9rem;
  }
  .subtitle {
    font-size: 0.35rem;
  }
  .cardTitle {
    font-size: 0.7rem;
  }
  .cardDesc {
    font-size: 0.4rem;
  }
  .bellIcon {
    font-size: 0.8rem;
  }
  .rightSection {
    gap: 1px;
  }
}