.container {
  --min-font-size: 0.8rem;
  --max-font-size: 1.1rem;
  --min-heading-size: 1.8rem;
  --max-heading-size: 3rem;
  --fluid-vw: 2.5vw;
  --fluid-vw-large: 1.5vw;
}

@font-face {
  font-family: "Poppins";
  src: url("Fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f1e7;
  font-family: "Poppins";
  background-image: url("/stylish-coffee-shop-with-latte-art.png");
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2e2e;
  color: white;
  padding: clamp(0.75rem, 1.2vw, 1.2rem) clamp(1rem, 3vw, 2rem);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  white-space: nowrap;
}

.leftSection {
  display: flex;
  align-items: center;
}

.logo {
  width: clamp(40px, 4vw, 60px);
  height: clamp(40px, 4vw, 60px);
  scale: 1.1;
}

.brandName {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  margin-right: clamp(1rem, 2vw, 2rem);
  color: #f4c063;
  font-weight: bold;
}

@font-face {
  font-family: "Poppins2";
  src: url("Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navLinks {
  font-family: "Poppins2";
  display: flex;
  justify-content: flex-start;
  gap: clamp(1rem, 1.5vw, 1.5rem);
  list-style: none;
}

.navLinks a {
  color: white;
  font-size: clamp(0.85rem, 1vw, 1rem);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.4s ease;
}

.navLinks a:hover {
  color: #f4c063;
}

.activeLink {
  color: #f4c063;
  font-weight: bold;
}

.rightSection {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  align-items: center;
  gap: clamp(10px, 1.5vw, 15px);
}

.username {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: clamp(0.9rem, 1vw, 1rem);
  cursor: pointer;
  font-weight: bold;
  color: #f4c063;
  padding: clamp(6px, 1.5vw, 8px);
  transition: all 0.4s ease;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) translateY(20%);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  min-width: fit-content;
  width: auto;
  gap: clamp(3px, 1vw, 5px);
}

.username:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.dropdownButton {
  width: 65%;
  padding: clamp(6px, 0.5vw, 12px) clamp(6px, 0.8vw, 16px);
  color: white;
  background: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.3rem, 0.5vw, 0.5rem);
  cursor: pointer;
  font-size: clamp(0.8rem, 0.6vw, 0.9rem);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-weight: 540;
}

.dropdownButton:hover {
  background-color: #666;
  transition: transform 0.2s;
  transform: none;
  transform: scale(1.04);
  font-weight: bold;
}

.icon {
  font-size: clamp(0.8rem, 0.6vw, 0.9rem);
  color: #f4c063;
}

.bellIcon {
  color: white;
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
  transition: color 0.3s ease;
}

.bellIcon:hover {
  color: #f4c063;
}

@font-face {
  font-family: "Poppins3";
  src: url("Fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hero {
  font-family: "Poppins3";
  position: relative;
  height: clamp(60vh, 75vw, 90vh);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: clamp(2rem, 4vw, 3rem);
  border-radius: 20px;
  color: #fff;
  max-width: clamp(500px, 80vw, 900px);
  margin: 110px 0 0 0;
}

.title {
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: bold;
  letter-spacing: 2px;
  color: #f4c063;
}

.subtitle {
  font-size: clamp(var(--min-font-size), 1.2vw, 1.2rem);
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
  color: #ddd;
  word-break: break-word;
}

.mainContent {
  padding: clamp(0.5rem, 1.5vw, 1rem) clamp(1rem, 3vw, 2rem);
  display: flex;
  justify-content: center;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(200px, 16vw, 280px), 1fr)
  );
  gap: clamp(1rem, 2vw, 1.5rem);
  width: 100%;
  max-width: 1055px;
  margin: auto;
}

.card {
  font-family: "Poppins2";
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: clamp(1rem, 2vw, 1.5rem);
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  text-decoration: none;
  color: #333;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.cardIcon {
  font-size: clamp(1.8rem, 2.2vw, 2.2rem);
  color: #f4c063;
}

.cardTitle {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-weight: 550;
}

.cardDesc {
  font-size: clamp(0.8rem, 0.5vw, 1rem);
  color: #666;
  word-break: break-word;
  text-wrap: balance;
  font-weight: 400;
}

.searchContainer {
  width: 220px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: clamp(6px, 0.8vw, 8px) clamp(8px, 1vw, 10px);
  border-radius: 18px;
  position: relative;
  right: clamp(100px, 10vw, 160px);
  border: 1px solid #f4c063;
  transition: box-shadow ease-in-out 0.3s;
}

.searchContainer:hover {
  box-shadow: 0 0 0 1px #f4c063;
  transition: ease-in-out 0.5s;
}

.searchIcon {
  margin-right: clamp(4px, 0.6vw, 8px);
  color: #f4c063;
  font-size: clamp(0.9rem, 1.1vw, 1rem);
}

.searchInput {
  font-family: "Poppins", sans-serif;
  border: none;
  font-size: clamp(0.85rem, 1vw, 0.9rem);
  display: block;
  text-align: center;

  padding: 0;
  flex-grow: 1;
  min-width: 50px;
  background-color: transparent;
  color: #333;
}

.searchInput:focus {
  outline: none;
}

.searchInput::placeholder {
  color: #aaa;
  opacity: 1;
  font-size: 0.85rem;
}

.toastCard {
  max-width: 90%;
  background: #2b2b2b;
  width: clamp(260px, 19vw, 360px);
  padding: clamp(8px, 0.5vw, 10px) clamp(8px, 2vw, 12px);
  border-radius: 18px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  font-family: "Georgia", serif;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 1px solid #d2b48c;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.messageTitle {
  font-size: clamp(0.9rem, 1.2vw, 1.3rem);
  font-weight: bold;
  color: #f4c063;
  display: block;
  text-align: center;
}

.message {
  font-size: clamp(0.7rem, 0.9vw, 1rem);
  color: #f0e6d2;
  display: block;
  text-align: center;
}

@keyframes enterAnimation {
  from {
    opacity: 0;
    transform: translate(40px, -40px) scale(1);
  }
  to {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes leaveAnimation {
  from {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(40px, -40px) scale(0);
  }
}

.enter {
  animation-name: enterAnimation;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.leave {
  animation-name: leaveAnimation;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.sidebarWrapper :global(.edgeWrapper) {
  top: 97px; /* عدّل حسب النّافبار */
}

.sidebarWrapper :global(.sidebar) {
  top: 97px; /* عدّل حسب النّافبار */
}

.sidebarWrapper :global(.arrowIcon) {
  color: white;
}

.outletContainer :global(.profilePage) {
  padding: 0 5rem;
  width: 90%;
  margin: 92px auto;
}

.outletContainer :global(.profileTitle) {
  padding: 0;
}

.outletContainer :global(.center) {
  height: 80vh;
}

.outletContainer :global(.cardContainer) {
  width: 90%;
  gap: 5rem;
}

.outletContainer :global(.profileCard) {
  height: 71%;
}

.outletContainer :global(.editSection) {
  height: 74%;
}

.outletContainer :global(.userContainer) {
  padding: 15px;
  width: 90%;
  margin: 100px auto;
  max-height: 84vh;
}

.outletContainer :global(.createButton) {
  margin-top: 0vh;
  margin-bottom: 1.5vh;
}

.outletContainer :global(.menuContainer) {
  margin: 95px auto;
  max-height: 84vh;
  padding: 15px;
  padding-left: 0px;
}

.outletContainer :global(.addButton) {
  top: 106px;
  left: 1290px;
}

.outletContainer :global(.sectionTitle) {
  margin: 0.5rem auto 0 auto;
  width: 90%;
  top: 1vh;
}

.outletContainer :global(.sectionDivider) {
  width: 90%;
  margin: 0.5rem auto 1rem auto;
}

.outletContainer :global(.menuGrid) {
  width: 90%;
  margin: auto;
}

.outletContainer :global(.inventortSection) {
  width: 90%;
  min-height: 72.5vh;
  max-height: 73vh;
  margin: 95px auto;
}

.outletContainer :global(.pageWrapper) {
  background-color: white;
  padding: 20px;
}

.outletContainer :global(.backgroundFull) {
  opacity: 1;
}

.outletContainer :global(.supplySection) {
  top: 55%;
  transform: translate(-50%, -50%);
}

.outletContainer :global(.supplyOfferSection) {
  padding: 15px 0;
  width: 92%;
  margin: 77px auto;
  max-height: 85vh;
}

.outletContainer :global(.supplyOfferHeader) {
  padding: 0;
  margin-bottom: 15px;
}

.outletContainer :global(.purchaseBillsSection) {
  max-height: 82vh;
  width: 94%;
  margin: 85px auto;
}

.outletContainer :global(.supplyHistorySection) {
  padding: 0.8rem 0;
  width: 92%;
  margin: 90px auto;
  max-height: 82vh;
}

.outletContainer :global(.mngNotPageWrapper) {
  padding-top: 30px;
  min-width: 0;
  margin: 95px auto;
}

.outletContainer :global(.pageTitle) {
  width: 90%;
  margin: auto;
}

.outletContainer :global(.list) {
  width: 90%;
}

.outletContainer :global(.promoWrapper) {
  padding: 10px 30px;
  max-height: 85vh;
  min-height: 85vh;
  margin: 96px auto;
}

.outletContainer :global(.pageHeader) {
  padding: 0;
  width: 90%;
  margin: auto auto auto 40px;
}

.outletContainer :global(.cardGrid) {
  width: 90%;
  margin: 20px 0 auto 40px;
}

.outletContainer :global(.dashboard) {
  max-width: none;
  background-color: white;
  margin: 97px auto;
  min-height: 82vh;
  padding: 2rem 5rem;
  width: 90%;
}

@media (min-width: 1600px) {
  .navbar {
    padding: 1.5rem 3rem;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .brandName {
    font-size: 1.5rem;
  }
  .brandName {
    position: relative;
    right: 25px;
  }
  .logo {
    position: relative;
    right: 25px;
  }
  .rightSection {
    position: relative;
    left: 20px;
  }
  .navLinks {
    gap: 2rem;
  }
  .navLinks a {
    font-size: 1.1rem;
  }
  .searchContainer {
    padding: 10px 15px;
    margin-left: 3rem;
  }
  .searchInput {
    font-size: 1rem;
    min-width: 150px;
  }
  .bellIcon {
    font-size: 1.6rem;
  }
  .username {
    font-size: 1.1rem;
  }
  .overlay {
    padding: 4rem;
    max-width: 1000px;
  }
  .title {
    font-size: 3.2rem;
  }
  .subtitle {
    font-size: 1.3rem;
  }
  .cardsGrid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(clamp(200px, 22vw, 280px), 1fr)
    );
    gap: 2rem;
    max-width: 1300px;
  }
  .card {
    padding: 2rem;
  }
  .cardIcon {
    font-size: 2.5rem;
  }
  .cardTitle {
    font-size: 1.5rem;
  }
  .cardDesc {
    font-size: 1rem;
  }
}

@media (max-width: 1280px) {
  .logo {
    width: clamp(30px, 4vw, 45px);
    height: clamp(30px, 4vw, 45px);
  }
  .brandName {
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
    margin-right: clamp(0.5rem, 2vw, 1rem);
  }
  .navLinks {
    gap: clamp(0.7rem, 1.5vw, 1rem);
  }
  .navLinks a {
    font-size: clamp(0.75rem, 1vw, 0.9rem);
  }
  .rightSection {
    margin-left: auto;
  }
  .searchContainer {
    padding: clamp(4px, 0.6vw, 6px) clamp(5px, 0.8vw, 8px);
  }
  .searchInput {
    font-size: clamp(0.75rem, 0.85vw, 0.8rem);
  }
  .bellIcon {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
  }
  .username {
    font-size: clamp(0.75rem, 0.9vw, 0.9rem);
  }
  .overlay {
    padding: clamp(1.5rem, 3vw, 2.5rem);
    max-width: clamp(400px, 70vw, 800px);
  }
  .hero {
    line-height: 2;
  }
  .title {
    font-size: clamp(1.8rem, 3vw, 2.5rem);
    white-space: nowrap;
    margin-top: auto;
  }
  .subtitle {
    font-size: clamp(0.8rem, 1vw, 1rem);
  }
  .cardsGrid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(clamp(200px, 16vw, 240px), 1fr)
    );
    gap: clamp(0.8rem, 1.5vw, 1.2rem);
    max-width: 950px;
  }
  .card {
    padding: clamp(1rem, 1.5vw, 1.2rem);
  }
}

@media (min-height: 1000px) and (max-width: 1280px) {
  .cardsGrid {
    column-gap: clamp(2rem, 5vw, 5rem);
    row-gap: clamp(2rem, 5vw, 4rem);
    max-width: 570px;
  }
  .searchContainer {
    right: 40px;
    padding: 3px;
    width: 150px;
  }
  .searchInput::placeholder {
    font-size: 0.7rem;
  }
  .rightSection {
    gap: 0px;
    margin-right: 0;
  }
  .leftSection {
    margin-left: 0;
  }
  .navLinks {
    position: relative;
    right: 50px;
  }
  .brandName {
    position: relative;
    right: 20px;
  }
  .logo {
    position: relative;
    right: 20px;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .cardsGrid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    max-width: 800px;
  }
  .cardDesc {
    font-size: 0.7rem;
  }
  .searchContainer {
    padding: 4px;
  }
  .searchInput::placeholder {
    font-size: 0.7rem;
  }
  .searchContainer {
    right: 50px;
    border-radius: 10px;
  }
  .rightSection {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 35px;
    height: 35px;
  }
  .brandName {
    font-size: 0.8rem;
  }
  .navLinks a {
    font-size: 0.6rem;
    position: relative;
    bottom: 2px;
  }
  .dropdownButton {
    font-size: 0.4rem;
    padding: 0.2rem 0.4rem;
  }
  .keyIcon {
    font-size: 0.4rem;
  }
  .username {
    font-size: 0.6rem;
  }
  .searchContainer {
    flex-grow: 1;
  }
  .searchIcon {
    font-size: 0.9rem;
    margin-left: 10px;
  }
  .searchInput {
    font-size: 0.8rem;
  }
  .subtitle {
    text-wrap: balance;
  }
  .cardsGrid {
    max-width: 500px;
  }
  .card {
    padding: clamp(0.8rem, 1vw, 1rem);
  }
}

@media (max-width: 540px) {
  .navbar {
    padding: 0.1rem 0.5rem;
    gap: 0;
  }
  .logo {
    width: 25px;
    height: 25px;
  }
  .brandName {
    font-size: 0.7rem;
  }
  .navLinks a {
    font-size: 0.5rem;
  }
  .rightSection {
    gap: 0;
    position: relative;
    right: 10px;
  }
  .username {
    font-size: 0.5rem;
    right: 0px;
  }
  .bellIcon {
    position: relative;
    right: 0px;
    font-size: 0.9rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .subtitle {
    font-size: 0.7rem;
  }
  .cardsGrid {
    max-width: 415px;
  }
  .card {
    padding: 10px;
  }
  .cardTitle {
    font-size: 0.8rem;
  }
  .cardIcon {
    font-size: 1.4rem;
  }
  .cardDesc {
    font-size: 0.6rem;
  }
  .searchContainer {
    padding: 0.1px;
    width: 90px;
    right: 12px;
    border-radius: 10px;
  }
  .searchInput::placeholder {
    font-size: 8px;
    position: relative;
    bottom: 1px;
  }
  .searchIcon {
    font-size: 0.6rem;
    margin-left: 0;
    position: relative;
    left: 2px;
  }
  .navLinks {
    position: relative;
    right: 35px;
    bottom: 0px;
  }
  .brandName {
    right: 0px;
  }
  .logo {
    right: 0px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.2rem 0.5rem;
    justify-content: flex-start;
    gap: 0;
  }
  .leftSection {
    right: 0;
    gap: 2px;
  }
  .logo,
  .brandName {
    display: none;
  }
  .navLinks {
    gap: 0.4rem;
    flex-shrink: 1;
    position: relative;
    right: 35px;
    top: 0;
  }
  .navLinks a {
    font-size: 0.5rem;
  }
  .rightSection {
    margin-left: auto;
  }
  .username {
    font-size: 0.5rem;
    padding: clamp(4px, 1.2vw, 6px) clamp(4px, 1.2vw, 6px);
  }
  .dropdownButton {
    font-size: 0.3rem;
    padding: 3px 4px;
    border-radius: 4px;
  }
  .bellIcon {
    font-size: 0.8rem;
  }
  .searchContainer {
    width: 80px;
    right: 10px;
  }
  .searchIcon {
    font-size: 0.6rem;
    margin-right: 4px;
  }
  .searchInput {
    font-size: 0.75rem;
  }
  .hero {
    height: clamp(40vh, 55vw, 60vh);
    padding: clamp(0.8rem, 7vw, 1.5rem);
  }
  .overlay {
    padding: 1.5rem;
    border-radius: 15px;
    max-width: 350px;
  }
  .title {
    font-size: 0.8rem;
    white-space: nowrap;
  }
  .subtitle {
    font-size: 0.5rem;
  }
  .cardsGrid {
    column-gap: 0.6rem;
    row-gap: 0.6rem;
    max-width: 300px;
  }
  .card {
    padding: 2px;
  }
  .cardIcon {
    font-size: 1.3rem;
  }
  .cardTitle {
    font-size: 0.9rem;
    margin: 0;
  }
  .cardDesc {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) and (max-height: 500px) {
  .container {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
  }
  .overlay {
    padding: 1rem;
    max-width: 260px;
  }
  .title {
    font-size: 0.7rem;
  }
  .subtitle {
    font-size: 0.4rem;
  }
  .cardTitle {
    font-size: 0.7rem;
  }
  .cardDesc {
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 376px) and (min-height: 600px) and (max-height: 750px) {
  .bellIcon {
    right: 12px;
  }
  .username {
    right: 10px;
  }
  .rightSection {
    right: 15px;
  }
}

@media (max-width: 350px) {
  .navLinks {
    right: 42px;
    top: 3px;
    font-size: 8px;
  }
  .username {
    font-size: 8px;
  }
  .searchContainer {
    width: 60px;
    height: 15px;
    right: 20px;
  }
  .searchInput::placeholder {
    font-size: 5px;
    bottom: 2px;
  }
  .searchIcon {
    font-size: 8px;
  }
  .username {
    right: 15px;
  }
  .bellIcon {
    right: 15px;
  }
}

@media (max-width: 320px) {
  .navLinks {
    right: 42px;
    top: 3px;
    font-size: 8px;
  }
  .username {
    font-size: 6px;
  }
  .searchContainer {
    width: 60px;
    height: 15px;
    right: 26px;
  }
  .searchInput::placeholder {
    font-size: 5px;
    bottom: 2px;
  }
  .searchIcon {
    font-size: 8px;
  }
  .username {
    right: 25px;
  }
  .bellIcon {
    right: 25px;
    font-size: 10px;
  }
}
