.pageWrapper {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: clamp(10px, 2vw, 30px);
  min-height: 100vh;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

.backgroundFull {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/Nord-Coast-Coffee-Roastery-interior.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}

@font-face {
  font-family: "Jost";
  src: url("Fonts/Jost/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.bcgOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: clamp(20px, 4vw, 40px);
  border-radius: 20px;
  max-width: 90vw;
  max-height: clamp(300px, 30vh, 600px);
  width: clamp(250px, 80vw, 800px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  transition: all 0.4s ease;
  animation: fadeInUp 0.6s ease backwards;
  padding-bottom: 80px;
}

.backgroundContent {
  font-family: "Jost";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  text-align: center;
}

.backgroundContent h2 {
  color: white;
  font-size: clamp(1.8rem, 3vw, 3.5rem);
  margin-bottom: clamp(10px, 2vh, 30px);
  position: relative;
  display: inline-block;
}

.backgroundContent p {
  color: white;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  margin-bottom: clamp(20px, 5vh, 40px);
  font-weight: 300;
}

.backgroundContent h2::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 95%;
  height: 3px;
}

.tabs {
  display: flex;
  position: relative;
  gap: clamp(15px, 3vw, 40px);
  top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.tabBtn {
  padding: clamp(10px, 1.5vw, 20px) clamp(10px, 2.5vw, 30px);
  border: none;
  justify-content: center;
  border-radius: 15px;
  font-size: clamp(0.9rem, 1.2vw, 1.3rem);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  bottom: 20%;
  overflow: hidden;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  min-width: clamp(150px, 40vw, 220px);
}

.iconTabBtn {
  position: relative;
  right: 6px;
  font-size: clamp(16px, 1.2vw, 24px);
}

.tabBtn:nth-child(1) {
  background: linear-gradient(45deg, #362520, #2b130b);
}

.tabBtn:nth-child(2) {
  background: linear-gradient(45deg, #362520, #2b130b);
}

.tabBtn:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.tabBtn:active {
  transform: translateY(0);
}

.tabBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: 0.5s;
}

.tabBtn:hover::before {
  left: 100%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tabBtn {
  animation: fadeInUp 0.6s ease forwards;
}

.tabBtn:nth-child(1) {
  animation-delay: 0.2s;
}

.tabBtn:nth-child(2) {
  animation-delay: 0.4s;
}

.tabContent {
  animation: fadeIn 0.5s ease-in-out;
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeInDelay 0.3s ease-in both;
  animation-delay: 0.4s; 
}

.emptyText {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: clamp(14px, 2.5vw, 18px);
  color: #888;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadeInDelay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}

.inventortSection {
  background: #fff;
  padding: clamp(16px, 4vw, 40px);
  margin-top: auto;
  border-radius: clamp(8px, 1.5vw, 15px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-height: 79vh;
  min-height: 79vh;
  overflow-y: auto;
}

.inventortSection::-webkit-scrollbar {
  display: none;
}

.inventortSectionTitle {
  font-family: "Open-Sans";
  font-size: clamp(20px, 2.5vw, 30px);
  margin-bottom: clamp(40px, 10vw, 80px);
  color: #333;
  text-align: left;
}

.headerContainer {
  position: relative;
}

.headerButtons {
  position: absolute;
  bottom: clamp(30px, 7vw, 60px);
  right: clamp(2px, 0.3vw, 60px);
  display: flex;
  flex-direction: column;
  padding-inline: clamp(5px, 4vw, 40px);
  gap: clamp(6px, 0.4vw, 8px);
  flex-wrap: wrap;
}

.addBtn {
  background-color: #4e2214;
  color: white;
  border: none;
  font-size: clamp(12px, 1.2vw, 14px);
  padding: clamp(8px, 1.5vw, 10px) clamp(20px, 3vw, 30px);
  border-radius: clamp(6px, 1.5vw, 8px);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addBtn:hover {
  background-color: #7d4b3d;
  transition: ease 0.5s;
}

.backBtn {
  background-color: #6c757d;
  color: #fff;
  border: none;
  font-size: clamp(12px, 1.2vw, 14px);
  padding: clamp(8px, 1.5vw, 10px) clamp(16px, 1.1vw, 20px);
  border-radius: clamp(6px, 1.5vw, 8px);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backBtn:hover {
  background-color: #3d4145;
  transition: ease 0.5s;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  padding: clamp(0.6rem, 1.2vw, 1.2rem);
  font-size: clamp(0.85rem, 1.05vw, 1.05rem);
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.iconBtn {
  background: transparent;
  border: none;
  color: black;
  font-size: clamp(14px, 1.2vw, 24px);
  cursor: pointer;
  display: inline;
}

.iconBtn svg[data-action="Edit"]:hover {
  color: blue;
}

.iconBtn svg[data-action="Delete"]:hover {
  color: red;
}

.iconBtn:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fadeInOverlay {
  animation: fadeIn 0.3s ease forwards;
}

.modal {
  background-color: white;
  width: clamp(280px, 60vw, 400px);
  height: clamp(280px, 80vh, 440px);
  padding: clamp(20px, 5vw, 25px);
  border-radius: clamp(12px, 2vw, 18px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #4e2214;
}

.modal h4 {
  text-align: center;
  margin-bottom: 30px;
  font-size: clamp(16px, 3vw, 22px);
  font-weight: 600;
}

.slideUpModal {
  animation: slideUp 0.4s ease-out;
}

.modal input[type="date"] {
  width: 95%;
  font-size: clamp(14px, 1.3vw, 17px);
}

.modal input {
  display: block;
  width: 90%;
  padding: clamp(8px, 2vw, 10px);
  font-size: clamp(14px, 1.3vw, 17px);
  margin: auto;
  margin-bottom: clamp(6px, 0.7vw, 14px);
  border-radius: clamp(6px, 1.2vw, 8px);
  border: 1px solid #ccc;
}

.modal input:hover {
  border-color: #4e2214;
  transition: all 0.8s ease;
}

.modalActions {
  display: flex;
  gap: clamp(25px, 6vw, 100px);
  margin-top: 30px;
}

.modal h4 {
  font-size: clamp(16px, 1.5vw, 22px);
  padding: 8px;
  position: relative;
  bottom: 10px;
  font-weight: bold;
  color: #343a40;
  text-align: center;
  border-bottom: 2px solid #4e2214;
}

.saveBtn {
  background-color: #4e2214;
  font-size: clamp(12px, 1.2vw, 14px);
  color: white;
  padding: clamp(8px, 2vw, 10px) clamp(10px, 3vw, 50px);
  border: none;
  border-radius: clamp(6px, 1vw, 10px);
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
}

.saveBtn:hover {
  background-color: #7c3621;
}

.cancelBtn {
  background-color: #6c757d;
  font-size: clamp(12px, 1.2vw, 14px);
  color: white;
  padding: clamp(8px, 2vw, 10px) clamp(10px, 3vw, 30px);
  border: none;
  border-radius: clamp(6px, 1vw, 10px);
  cursor: pointer;
  font-weight: bold;
  margin-right: auto;
}

.cancelBtn:hover {
  background-color: #464b50;
}

.backBtn2 {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: clamp(8px, 0.6vw, 12px) clamp(10px, 1vw, 16px);
  border-radius: 8px;
  font-size: clamp(12px, 1vw, 16px);
  font-weight: bold;
  cursor: pointer;
  position: relative;
  left: clamp(225px ,81vw ,1245px);
  bottom: clamp(33px, 12vh, 95px);
  z-index: 10;
}

.backBtn2:hover {
  background-color: #3d4145;
}

.supplySection {
  background: #fff;
  padding: clamp(15px, 2vw, 30px);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-height: 81vh;
  overflow-y: auto;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  box-sizing: border-box;
}

.supplySection::-webkit-scrollbar {
  display: none;
}

.supplySectionTitle {
  font-family: "Open-Sans";
  font-size: clamp(18px, 2vw, 28px);
  margin-bottom: clamp(25px, 8vh, 50px);
  color: #333;
  text-align: left;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(220px, 30vw, 300px), 1fr));
  gap: clamp(12px, 2vw, 24px);
  align-items: stretch;
}

.card {
  background-color: #f1f1f1;
  padding: clamp(15px, 1.5vw, 22px);
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: "Open-Sans";
  src: url("Fonts/Open_Sans/static/OpenSans-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.card h4 {
  font-family: "Open-Sans";
  margin-bottom: clamp(8px, 1vh, 14px);
  font-size: clamp(14px, 1.2vw, 20px);
  color: #333;
}

@font-face {
  font-family: "Jost";
  src: url("Fonts/Jost/static/Jost-Light.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.card p {
  font-family: "Jost";
  font-size: clamp(12px, 1.2vw, 18px);
}

.cardBtn {
  font-family: "Jost";
  margin-top: auto;
  width: 20%;
  background-color: #4e2214;
  color: white;
  padding: clamp(6px, 0.5vw, 10px) clamp(10px, 1vw, 16px);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: clamp(12px, 0.9vw, 18px);
  justify-content: center;
  white-space: nowrap;
}

.cardBtn:hover {
  background-color: #621c0a;
  transition: all 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.overlayRequest {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  background-color: white;
  width: clamp(300px, 90vw, 600px);
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 16px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  margin-top: clamp(40px, 10vh, 80px);
}

.modalContainer::-webkit-scrollbar {
  display: none;
}

.modalHeader {
  background-color: #4e2214; /* Dark brown */
  color: white;
  padding: clamp(16px, 3vw, 24px);
  text-align: center;
  font-size: clamp(16px, 2.5vw, 20px);
  font-weight: bold;
}

.modalContent {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modalFooter {
  border-top: 1px solid #e5e7eb;
  padding: 20px;
  background-color: white;
}

.formGroup {
  margin-bottom: 16px;
}

.formGroup label {
  font-size: clamp(14px, 2vw, 16px);
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #333;
}

.titleInput {
  width: 95%;
  padding: clamp(10px, 1.5vw, 14px);
  font-size: clamp(14px, 2vw, 16px);
  border: 2px solid #d1d5db;
  border-radius: 8px;
  background-color: white;
  transition: border-color 0.2s;
}

.titleInput:focus {
  outline: none;
  border-color: #4e2214;
}

.searchSection {
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  border: 2px solid #e5e7eb;
}

.searchSection label {
  font-size: clamp(14px, 2vw, 16px);
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #333;
}

.searchContainer {
  position: relative;
}

.searchInput {
  width: 95%;
  padding: clamp(10px, 1.5vw, 14px);
  font-size: clamp(14px, 2vw, 16px);
  border: 2px solid #d1d5db;
  border-radius: 8px;
  background-color: white;
  transition: border-color 0.2s;
}

.searchInput:focus {
  outline: none;
  border-color: #4e2214;
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.searchItem {
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #f3f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: background-color 0.2s;
}

.searchItem:hover {
  background-color: #f9fafb;
}

.searchItem:last-child {
  border-bottom: none;
}

.addItemBtn {
  background-color: #4e2214;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.addItemBtn:hover {
  background-color: #78350f;
}

.selectedSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.selectedHeader {
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
  border-bottom: 2px solid #4e2214;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemCount {
  background-color: #4e2214;
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
}

.selectedItems {
  flex: 1;
  overflow-y: auto;
  max-height: 250px;
  background-color: #f6f7f8;
  border-radius: 8px;
  padding: 12px;
}

.emptyState {
  text-align: center;
  color: #6b7280;
  padding: 40px 20px;
}

.emptyIcon {
  font-size: 48px;
  margin-bottom: 8px;
  opacity: 0.5;
}

.selectedItem {
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.itemInfo {
  flex: 1;
}

.itemName {
  font-weight: bold;
  color: #374151;
}

.quantityControls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.quantityBtn {
  background-color: #4e2214;
  color: white;
  border: none;
  width: 4px;
  height: 15px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.quantityBtn:hover {
  background-color: #78350f;
}

.quantityInput {
  width: 50px;
  padding: 4px;
  justify-content: center;
  text-align: center;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.removeBtn {
  background-color: #4e2214;
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.removeBtn:hover {
  background-color: #7b0909;
}

.selectInput {
  max-width: 100%;
  padding: clamp(10px, 1.5vw, 14px);
  font-size: clamp(14px, 2vw, 16px);
  border: 2px solid #d1d5db;
  border-radius: 8px;
  background-color: white;
  transition: border-color 0.2s;
}

.selectInput:focus {
  outline: none;
  border-color: #4e2214;
}

.requestTextArea {
  width: 95%;
  padding: clamp(10px, 1.5vw, 14px);
  font-size: clamp(14px, 2vw, 16px);
  border: 2px solid #d1d5db;
  border-radius: 8px;
  background-color: white;
  min-height: 80px;
  resize: vertical;
  transition: border-color 0.2s;
}

.requestTextArea:focus {
  outline: none;
  border-color: #4e2214;
}

.formActions {
  display: flex;
  gap: 150px;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.requestSubmitBtn {
  font-size: clamp(14px, 2vw, 16px);
  padding: clamp(10px, 0.5vw, 14px);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: #4e2214;
  color: white;
  transition: background-color 0.2s;
}

.requestSubmitBtn:hover {
  background-color: #78350f;
}

.requestCancelBtn {
  font-size: clamp(14px, 2vw, 16px);
  padding: clamp(10px, 0.5vw, 14px) clamp(10px, 1.6vw, 25px);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background-color: #6b7280;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s;
}

.requestCancelBtn:hover {
  background-color: #4b5563;
}

.supplyOfferSection {
  max-height: 89.5vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.supplyOfferSection::-webkit-scrollbar {
  display: none;
}

.supplyOfferHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(10px, 0.5vw, 20px);
  margin-bottom: clamp(10px, 2vh, 20px);
}

.backBtn3 {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: clamp(6px, 0.5vw, 12px) clamp(12px, 0.5vw, 18px);
  border-radius: 8px;
  font-size: clamp(12px, 1vw, 16px);
  font-weight: bold;
  cursor: pointer;
}

.backBtn3:hover {
  background-color: #3d4145;
}

.supplyOffersTitle {
  font-family: "Open-Sans";
  font-size: clamp(20px, 2.2vw, 28px);
  text-align: left;
  color: #333;
}

.offerList {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vh, 20px);
}

.offerCard {
  background-color: #fdfdfd;
  padding: clamp(12px, 2vw, 24px);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-left: 6px solid #4e2214;
}

.offerTitle {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: bold;
  margin-bottom: 8px;
  color: #401a10;
}

.offerList p {
  font-size: clamp(14px, 0.8vw, 16px);
}

.offerItems {
  margin: clamp(6px, 1vh, 12px) 0;
  padding-left: 12px;
  color: #555;
}

.offerItem {
  font-size: clamp(12px, 1vw, 16px);
}

.offerActions {
  display: flex;
  gap: clamp(8px, 1vw, 10px);
  margin-top: clamp(10px, 2vh, 18px);
}

.acceptBtn {
  background-color: #077e23;
  color: white;
  padding: clamp(6px, 0.5vw, 10px) clamp(10px, 1vw, 16px);
  font-size: clamp(12px, 1vw, 16px);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.acceptBtn:hover {
  background-color: #1fa73c;
}

.rejectBtn {
  background-color: #83000d;
  color: white;
  padding: clamp(6px, 0.5vw, 10px) clamp(10px, 1vw, 16px);
  font-size: clamp(12px, 1vw, 16px);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.rejectBtn:hover {
  background-color: #a52a37;
}

.rejectModal {
  width: clamp(280px, 60vw, 400px);
  max-width: 90%;
  border-radius: 20px;
  background-color: white;
  padding: clamp(18px, 2vw, 25px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid red;
}

.rejectModalTitle {
  border-bottom: 2px solid red;
  font-size: clamp(18px, 2vw, 22px);
  font-weight: 700;
  padding-bottom: 8px;
  text-align: center;
  position: relative;
  bottom: 15px;
}

.rejectModal textArea {
  border-radius: 10px;
  width: 95%;
  font-size: clamp(13px, 1.2vw, 15px);
}

.rejectModal textArea:focus {
  border-color: #dc3545;
  outline: none;
}

.rejectModalActions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: clamp(50px, 6.5vw, 100px);
}

.rejectConfirmBtn {
  background-color: #dc3545;
  color: white;
  padding: clamp(4px, 0.5vw, 8px) clamp(7px, 0.9vw, 14px);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: clamp(13px, 1.2vw, 15px);
}

.rejectConfirmBtn:hover {
  background-color: #7c1823;
}

.rejectCancelBtn {
  background-color: #6c757d;
  color: white;
  padding: clamp(4px, 0.5vw, 8px) clamp(22px, 2.8vw, 42px);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  font-size: clamp(13px, 1.2vw, 15px);
}

.rejectCancelBtn:hover {
  background-color: #464b50;
}

.statusBadge {
  padding: clamp(6px, 1.5vw, 12px) clamp(10px, 2vw, 18px);
  font-weight: bold;
  border-radius: 15px;
  font-size: clamp(12px, 1vw, 14px);
  display: inline-block;
}

.statusApproved {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.statusRejected {
  background-color: #f8d7da;
  color: #7d111c;
  border: 1px solid #f5c6cb;
}

.billModal {
  width: clamp(300px, 90vw, 550px);
  max-height: 85vh;
  padding: clamp(15px, 3vw, 20px);
  border: 1px solid #e0e0e0;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  border: 1px solid #4e2214;
  margin-top: 65px;
}

.billModalTitle {
  font-size: clamp(18px, 4vw, 22px); 
  font-weight: 700;
  color: #333;
  border-bottom: 2px solid #4e2214;
  padding-bottom: clamp(6px, 1.5vw, 8px);
  text-align: center;
}

.inputLabel {
  display: block;
  font-size: clamp(14px, 3vw, 16px);
  font-weight: 600;
  color: #444;
  margin: clamp(12px, 2.5vw, 18px) 0 clamp(4px, 1vw, 6px);
}

.selectBox,
.dateInput {
  max-width: 99%;
  padding: clamp(8px, 2vw, 10px); /* Responsive padding */
  font-size: clamp(12px, 2vw, 14px); /* Responsive font size */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fdfdfd;
  transition: border-color 0.3s ease;
}

.billModal input {
  width: 99%;
  box-sizing: border-box;
}

.selectBox:focus,
.dateInput:focus {
  border-color: #4e2214;
  outline: none;
}

.billDetails {
  background-color: #f9fafc;
  border-left: 5px solid #4e2214;
  padding: clamp(15px, 3vw, 20px);
  border-radius: 10px;
  margin-top: clamp(15px, 3vw, 20px);
  font-family: "Courier New", monospace;
  color: #333;
}

.sectionSubTitle {
  font-size: clamp(15px, 3.5vw, 16px); 
  font-weight: 700;
  margin-bottom: clamp(8px, 2vw, 12px);
  color: #444;
  border-bottom: 1px dashed #bbb;
  padding-bottom: clamp(4px, 1vw, 6px);
}

.billItemRow {
  font-size: clamp(13px, 2.5vw, 14px); 
  padding: clamp(4px, 1vw, 6px) 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #e0e0e0;
}

.billItemRow:last-child {
  border-bottom: none;
}

.totalPrice {
  margin-top: clamp(10px, 2.5vw, 15px); /* Responsive margin */
  font-size: clamp(16px, 4vw, 18px); 
  font-weight: 700;
  color: #212529;
  text-align: right;
  border-top: 2px solid #4e2214;
  padding-top: clamp(6px, 1.5vw, 8px);
}

.billModalActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(40px, 8vw, 125px); /* Responsive gap */
  margin-top: clamp(15px, 3vw, 20px); 
}

.billSaveBtn {
  background-color: #4e2214;
  color: white;
  padding: clamp(10px, 2.5vw, 12px) clamp(20px, 5vw, 30px); 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: clamp(14px, 3vw, 16px);
  font-weight: bold;
}

.billSaveBtn:hover {
  background-color: #75321e;
}

.billCancelBtn {
  background-color: #6c757d;
  color: white;
  padding: clamp(10px, 2.5vw, 12px) clamp(20px, 5.5vw, 35px); 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: clamp(14px, 3vw, 16px);
  font-weight: bold;
}

.billCancelBtn:hover {
  background-color: #464b50;
}

/* 🌐 MEDIA QUERIES */

@media screen and (min-width: 7680px) {

  .inventortSection {
    max-height: 100vh;
    margin-top: 20px;
  }
  .addBtn, .backBtn {
    margin-right: 480px;
  }
  .modalActions {
    margin-top: 25px;
  }

  .supplySection {
    max-width: 40%;
  }
  .backBtn2 {
    left: 2800px;
  }

  .formActions {
    width: 100%;
  }

  .supplyOfferSection{
    max-height: 100vh;
  }
  .supplyOfferHeader {
    margin-top: 30px;
    margin-bottom: 0;
    align-items: center;
  }
}

@media screen and (min-width: 5120px) and (max-width: 7679px) {

  .inventortSection {
    max-height: 95vh;
    margin-top: 20px;
  }
  .addBtn, .backBtn {
    margin-right: 280px;
  }
  .modalActions {
    margin-top: 25px;
  }

  .supplySection {
    max-width: 48%;
  }
  .backBtn2 {
    left: 2200px;
  }

  .formActions {
    width: 100%;
  }

  .supplyOfferSection{
    max-height: 98vh;
  }
  .supplyOfferHeader {
    margin-top: 30px;
    margin-bottom: 0;
    align-items: center;
  }
}

@media screen and (min-width: 3840px) and (max-width: 5119px) {

  .inventortSection {
    max-height: 90vh;
    margin-top: 20px;
  }
  .addBtn, .backBtn {
    margin-right: 170px;
  }
  .modalActions {
    margin-top: 25px;
  }

  .supplySection {
    max-width: 56%;
  }
  .backBtn2 {
    left: 1880px;
  }

  .formActions {
    width: 100%;
  }

  .supplyOfferSection{
    max-height: 95vh;
  }
  .supplyOfferHeader {
    margin-top: 30px;
    margin-bottom: 0;
    align-items: center;
  }
}

@media screen and (min-width: 2560px) and (max-width: 3839px) {

  .inventortSection {
    max-height: 85vh;
    margin-top: 20px;
  }
  .addBtn, .backBtn {
    margin-right: 70px;
  }
  .modalActions {
    margin-top: 25px;
  }

  .supplySection {
    max-width: 85%;
  }
  .backBtn2 {
    left: 1880px;
  }
  .cardBtn {
    border-radius: 12px;
    padding: 5px, 10px;
    width: 15%;
  }

  .formActions {
    width: 100%;
  }

  .supplyOfferSection{
    max-height: 92.5vh;
  }
  .supplyOfferHeader {
    margin-top: 30px;
    margin-bottom: 0;
    align-items: center;
  }
}

@media screen and (min-width: 1600px) and (max-width: 2559px) {

  .backgroundContent h2 {
    font-size: clamp(1.6rem, 4vw, 3rem);
  }

  .inventortSection {
    margin-top: 20px;
    max-height: 81.5vh;
  }
  .addBtn, .backBtn {
    margin-right: 20px;
  }
  .modalActions {
    margin-top: 25px;
  }

  .backBtn2 {
    left: 1620px;
  }
  .modalContainer {
    margin-top: 105px;
  }

  .supplyOfferSection{
    max-height: 91.5vh;
  }
  .supplyOfferHeader {
    margin-top: 30px;
    margin-bottom: 0;
    align-items: center;
  }
}

@media screen and (min-width: 1600px) {
  .billModal {
    width: 600px;
  }
  .billModalTitle {
    font-size: 24px;
  }
  .totalPrice {
    font-size: 20px;
  }
  .billModalActions {
    gap: clamp(75px, 9vw, 150px);
  }
}

@media screen and (max-width: 1280px) {
  .tabs {
    flex-direction: row;
    gap: 20px;
  }
  .tabBtn {
    padding: 14px 5px;
  }
  .bcgOverlay {
    width: 60vw;
  }

  .inventortSection {
    max-height: 79vh;
    margin-top: 10px;
  }
  .headerButtons {
    bottom: 60px;
    right: 0;
    gap: 6px;
    justify-content: right;
    flex-wrap: wrap;
    padding-inline: 0;
  }
  .backBtn {
    padding: 8px 12px;
    border-radius: 6px;
    margin: 0;
  }
  .addBtn {
    padding: 8px 23px;
    border-radius: 6px;
    margin: 0;
  }
  .table th, .table td {
    font-size: 0.95rem;
    padding: 12px;
  }
  .modal {
    height: auto;
  }
  .modalActions {
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 24px;
  }
  .saveBtn,
  .cancelBtn {
    padding: 10px 8px;
    font-size: 13px;
    width: 30%;
    justify-content: center;
  }

  .backBtn2 {
    left: clamp(500px,  78vw, 1035px);
    bottom: clamp(45px, 11vh, 95px);
    padding: 6px;
  }
  .modalContainer {
    max-height: 85vh;
  }
  .formActions {
    gap: 150px;
    width: 85%;
  }
  .requestSubmitBtn {
    padding: 8px 10px;
  }
  .requestCancelBtn {
    padding: 8px 25px;
  }

  .supplyOfferSection{
    max-height: 91vh;
  }
  .supplyOfferHeader {
    margin-top: 30px;
    margin-bottom: 0;
    align-items: center;
  }
  .backBtn3 {
    margin-bottom: 10px;
  }
  .offerTitle {
    font-size: 18px;
  }
  .rejectCancelBtn {
    width: 16%;
    display: block;
    text-align: center;
  }
  .rejectModal {
    width: 40%;
  }
  .supplyOffersTitle {
    font-size: 24px;
  }

  .billModal {
    width: clamp(500px, 70vw, 600px);
  }
}

@media screen and (min-height: 1000px) and (max-width: 1280px) {

  .inventortSection {
    max-height: 83vh;
    margin-top: 40px;
  }
  .modal input[type="date"] {
    padding: 9.5px;
    border-radius: 8px;
    width: 90%;
  }

  .supplySectionTitle {
    margin-bottom: 0px;
  }
  .cardGrid {
    grid-template-columns: 1fr;
    gap: clamp(15px, 3vw, 30px);
  }
  .cardBtn {
    width: 12%;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 6px;
  }

  .backBtn2 {
    left: clamp(500px ,75vw ,800px);
    bottom: 40px;
    padding: 6px;
  }

  .supplyOfferSection{
    max-height: 93vh;
  }
}

@media screen and (max-height: 600px) and (max-width: 1024px) {
  .inventortSection {
    max-height: 74vh;
    margin-top: auto;
  }
  .cardGrid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .cardBtn {
    width: 30%;
    padding: 4px 12px;
  }

  .backBtn2 {
    bottom: 85px;
  }

  .supplyOfferSection {
    max-height: 89vh;
  }
  .supplyOfferHeader {
    margin-top: 0;
  }

  .billModal {
    max-height: 80vh;
    overflow-y: auto;
  }
  .billModal::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .backgroundContent h2 {
    word-break: break-word;
    text-wrap: balance;
  }

  .inventortSection {
    max-height: 83vh;
    margin-top: 30px;
  }
  .headerButtons {
    flex-direction: row; 
    width: 30%;
    bottom: 30px;
    right: 0;
    gap: 6px;
    justify-content: right;
    flex-wrap: wrap;
    padding-inline: 0;
  }
  .backBtn {
    padding: 6px 12px;
    border-radius: 6px;
    margin: 0;
  }
  .addBtn {
    padding: 6px 23px;
    border-radius: 6px;
    margin: 0;
  }
  .inventortSectionTitle {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .table::-webkit-scrollbar {
    display: none;
  }
  .table th, .table td {
    padding: 10px;
    font-size: 14px;
    min-width: 140px;
  }
  .modal {
    width: 50%;
    height: auto;
    padding: 20px;
  }
  .modal h4 {
    font-size: 18px;
  }
  .modalActions {
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 24px;
  }
  .saveBtn, .cancelBtn {
    padding: 6px 6px;
    font-size: 13px;
    width: 30%;
    justify-content: center;
  }

  .backBtn2 {
    padding: 6px 5px;
    font-size: 11px;
  }
  .cardGrid {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
  .cardBtn {
    font-size: 9px;
    padding: 4px 16px;
    border-radius: 6px;
    width: 24%;
  }
  .card h4{
    margin-bottom: 0px;
  }

  .modalContainer {
    margin-top: 100px;
    min-height: 90vh;
  }
  .modalHeader {
    padding: 15px;
  }
  .modalContent {
    padding: 16px;
  }
  .modalFooter {
    padding: 16px;
  }
  .selectedItem {
    align-items: flex-start;
    gap: 12px;
  }
  .quantityControls {
    align-self: flex-end;
  }
  .requestSubmitBtn {
    padding: 8px 10px;
  }
  .requestCancelBtn {
    padding: 8px 18px;
  }
  .formActions {
    flex-direction: row;
    gap: 120px;
  }

  .supplyOfferSection{
    max-height: 93vh;
  }
  .supplyOfferHeader {
    margin-top: 30px;
    margin-bottom: 0;
    align-items: center;
  }
  .backBtn3 {
    margin-bottom: 10px;
  }
  .offerTitle {
    font-size: 18px;
  }
  .offerList p {
    font-size: 13px;
  }
  .offerActions {
    flex-direction: row;
  }
  .rejectModalActions {
    flex-direction: row;
    gap: 60px;
  }
  .rejectCancelBtn {
    width: 18%;
    display: block;
    text-align: center;
  }
  .acceptBtn, .rejectBtn {
    font-size: 10px;
  }
  .statusBadge {
    font-size: 12px;
  }
  .rejectModal {
    width: 40%;
  }

  .billModal {
    width: clamp(350px, 95vw, 500px);
    padding: 15px;
  }
  .billModalTitle {
    font-size: 20px;
  }
  .selectBox,
  .dateInput,
  .billModal input {
    width: 97%;
  }
  .billModalActions {
    flex-direction: row; 
  }
}

@media screen and (max-width: 540px){
  .backgroundContent h2::after {
    width: 80%;
    bottom: 1%;
  }

  .inventortSection {
    max-height: 82vh;
    margin-top: 25px;
  }
  .headerButtons {
    width: 28%;
  }
  .backBtn {
    padding: 6px 10px;
    border-radius: 6px;
    margin: 0;
    font-size: 10px;
  }
  .addBtn {
    padding: 6px 20px;
    border-radius: 6px;
    margin: 0;
    font-size: 10px;
  }

  .backBtn2 {
    left: 350px;
    bottom: 35px;
    padding: 5px 5px;
  }
  .supplySectionTitle {
    margin-bottom: 0px;
  }
  .cardGrid {
    grid-template-columns: 1fr;
    gap: clamp(15px, 3vw, 30px);
  }
  .cardBtn {
    width: 15%;
    font-size: 10px;
    padding: 2px 8px;
    border-radius: 6px;
  }
  .card h4{
    margin-bottom: 0px;
  }

  .modalContainer {
    margin-top: 80px;
    min-height: 60vh;
  }
  .rejectModal {
    width: 50%;
  }

  .billModal {
    width: 450px;
  }
  .billModalActions {
    gap: 80px;
  }
}

@media screen and (max-width: 480px) {
  .bcgOverlay {
    padding: 20px 16px 60px;
    border-radius: 16px;
    width: 95vw;
    max-height: none;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    animation: fadeInUp 0.6s ease backwards;
  }
  .backgroundContent h2 {
    font-size: 1.6rem;
    margin-bottom: 16px;
    word-break: break-word;
    text-wrap: balance;
  }
  .backgroundContent h2::after {
    width: 70%;
  }
  .backgroundContent p {
    font-size: 0.95rem;
    margin-bottom: 20px;
  }
  .tabs {
    flex-direction: column;
    gap: 12px;
    top: 30px;
    align-items: center;
  }
  .tabBtn {
    font-size: 0.95rem;
    min-width: 80%;
    padding: 12px 16px;
    border-radius: 12px;
  }
  .iconTabBtn {
    font-size: 18px;
    right: 4px;
  }

  .pageWrapper {
    padding: 12px;
  }
  .inventortSection {
    max-height: 83vh;
    overflow-y: auto;
    margin-top: 30px;
  }
  .inventortSection::-webkit-scrollbar {
    display: none;
  }
  .headerButtons {
    flex-direction: row; 
    width: 25%;
    bottom: 30px;
    right: 0;
    gap: 2px;
    justify-content: right;
    flex-wrap: wrap;
    padding-inline: 0;
  }
  .backBtn {
    font-size: 6px;
    padding: 4px 6px;
    border-radius: 4px;
    margin: 0;
  }
  .addBtn {
    font-size: 6px;
    padding: 4px 11.7px;
    border-radius: 4px;
    margin: 0;
  }
  .inventortSectionTitle {
    text-align: left;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .table::-webkit-scrollbar {
    display: none;
  }
  .table th, .table td {
    padding: 8px;
    font-size: 13px;
    min-width: 120px;
  }
  .modal {
    width: 75%;
    height: 340px;
  }
  .modal input {
    padding: 7px;
  }
  .modal input[type="date"] {
    padding: 7px;
    border-radius: 8px;
  }
  .modalActions {
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 25px;
  }
  .modal h4 {
    margin-bottom: 28px;
    font-size: 18px;
  }
  .saveBtn, .cancelBtn {
    padding: 6px 6px;
    font-size: 13px;
    width: 30%;
    justify-content: center;
  }

  .backBtn2 {
    left: clamp(100px, 60vw, 270px);
    bottom: 33px;
    font-size: 10px;
    padding: clamp(4px, 1.5vw, 6px) clamp(2px, 1.5vw, 6px);
    border-radius: 6px;
  }
  .supplySection {
    padding: clamp(10px, 4vw, 15px);
    max-height: 85vh;
  }
  .supplySectionTitle {
    margin-bottom: 0px;
  }
  .cardGrid {
    grid-template-columns: 1fr;
    gap: clamp(15px, 3vw, 30px);
  }
  .card {
    padding: clamp(10px, 4vw, 18px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  }
  .cardBtn {
    width: 20%;
    font-size: 10px;
    padding: 4px 12px;
  }

  .modalContainer {
    width: 99%;
    margin: auto;
    max-height: 60vh;
    min-height: 60vh;
  }
  .overlayRequest {
    align-items: flex-start;
  }
  .modalContent {
    flex: initial;
    height: auto;
  }
  .selectedItem {
    align-items: flex-start;
    gap: 12px;
  }
  .formActions {
    flex-direction: row;
    gap: 70px;
  }
  .requestSubmitBtn {
    padding: 6px 8px;
    justify-content: center;
  }
  .requestCancelBtn {
    padding: 6px 14px;
    justify-content: center;
  }

  .supplyOfferSection{
    max-height: 93vh;
  }
  .supplyOfferHeader {
    margin-top: 15px;
    margin-bottom: 0;
    align-items: center;
  }
  .supplyOffersTitle {
    font-size: 18px;
  }
  .backBtn3 {
    margin-bottom: 15px;
    font-size: 10px;
    padding: 6px 6px;
  }
  .offerCard {
    padding: 12px;
  }
  .offerTitle {
    font-size: 16px;
  }
  .offerList p {
    font-size: 12px;
  }
  .offerItem {
    font-size: 12px;
  }
  .offerActions {
    flex-direction: row;
  }
  .rejectModal {
    padding: 16px;
    width: 80%;
  }
  .rejectModal textarea {
    font-size: 14px;
    width: 92%;
  }
  .rejectModalActions {
    flex-direction: row;
  }
  .rejectCancelBtn {
    width: 20%;
    display: block;
    text-align: center;
  }
  .acceptBtn, .rejectBtn {
    font-size: 10px;
  }
  .statusBadge {
    font-size: 12px;
    padding: 6px 8px;
  }

  .billModal {
    width: 350px;
    padding: 10px;
  }
  .billModalTitle {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .inputLabel {
    font-size: 13px;
    margin: 10px 0 4px;
  }
  .selectBox,
  .dateInput,
  .billModal input {
    padding: 8px;
    font-size: 13px;
    width: 97%;
  }
  .billDetails {
    padding: 10px;
    margin-top: 10px;
  }
  .sectionSubTitle {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .billItemRow {
    font-size: 12px;
    padding: 4px 0;
  }
  .totalPrice {
    margin-top: 10px;
    font-size: 15px;
    padding-top: 6px;
  }
  .billModalActions {
    flex-direction: row;
    gap: 50px;
    margin-top: 15px;
  }
  .billSaveBtn,
  .billCancelBtn {
    font-size: 12px;
  }
  .billSaveBtn {
    padding: 8px 20px;
  }
  .billCancelBtn {
    padding: 8px 24px;
  }
}

@media screen and (max-width: 480px) and (max-height: 500px) {

  .bcgOverlay {
    margin-top: 60px;
  }

  .inventortSection {
    max-height: 74vh;
  }
  .backBtn {
    font-size: 6px;
    padding: 4px 4px;
    border-radius: 4px;
    margin: 0;
  }
  .addBtn {
    font-size: 6px;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0;
  }
  .modalActions {
    margin-top: 12px;
  }
  .modal {
    margin-top: 70px;
    width: 70%;
    height: 280px;
    padding: 10px;
  }
  .modal h4 {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .modal input {
    padding: 5px;
  }
  .modal input[type="date"] {
    padding: 4px;
    border-radius: 8px;
  }
  .saveBtn, .cancelBtn {
    padding: 4px 4px;
    font-size: 12px;
    width: 28%;
    justify-content: center;
  }

  .modalContainer {
    margin-top: clamp(50px, 20vh, 80px);
    min-height:clamp(200px, 82vh, 394px);
  }
  .formActions {
    width: 100%;
  }
  .requestCancelBtn {
    padding: 4px 14px;
  }

  .supplyOfferSection{
    max-height: 90vh;
  }
  .supplyOfferHeader {
    margin-top: 25px;
    align-items: center;
    width: 96%;
  }
  .backBtn3 {
    margin-bottom: 15px;
    width: 26%;
    padding: 4px 4px;
    font-size: 8px;
  }
}