@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.kitchenPage {
    min-height: 100vh;
    padding: 60px 40px;
    background: linear-gradient(145deg, #0d0d0d, #1a1a1a);
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    min-height: 73vh;
    max-height: 75vh;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  
  .kitchenPage::-webkit-scrollbar {
    display: none;
  } 

  
  .pageTitle {
    font-family: 'Playfair Display', serif;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 40px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  
  .noOrders {
    text-align: center;
    font-size: 1.2rem;
    color: #ccc;
    margin-top: 80px;
    font-style: italic;
    font-weight: 400;
  }
  
  .ordersGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 300px;
    gap: 25px;
  }
  
  .orderCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #222;
    border-radius: 14px;
    padding: 25px 20px;
    box-shadow: 0 4px 20px rgba(255, 126, 95, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .orderCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(255, 126, 95, 0.35);
  }
  
  .orderHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    margin-bottom: 16px;
    color: #ffb46a;
  }
  
  .orderHeader h3 {
    color: #feb47b;
    position: relative;
    top: 2px;
  }
  
  .icon {
    color: #ffa260;
    font-size: 1.5rem;
    position: relative;
    top: 5px;
  }
  
  .itemList {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    color: #f2f2f2;
  }
  
  .itemList li {
    padding: 4px 0;
    border-bottom: 1px dashed #444;
    font-size: 0.95rem;
  }
  
  .statusRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .statusLabel {
    font-weight: bold;
    font-size: 1rem;
    color: #ffd280;
    position: relative;
    bottom: 3px;
  }
  
  .statusSelect {
    background: #111;
    color: #fff;
    padding: 6px 12px;
    font-size: 0.95rem;
    border-radius: 8px;
    border: 1px solid #444;
    transition: all 0.4s ease;
    cursor: pointer;
    position: relative;
    left: 5px;
  }
  
  .statusSelect:hover {
    border-color: #ffb46a;
    box-shadow: 0 0 6px #ffb46a55;
  }
  
  .statusSelect:focus {
    outline: none;
    border-color: #feb47b;
    box-shadow: 0 0 8px #ff7e5f99;
  }
  