.container {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 5%;
  position: relative;
  color: white;  
}

body, html {
  margin: 0;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('Fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.leftText {
  font-family: 'Josefin_Sans';
  line-height: 1.2;
  flex: 1;
  margin-right: auto;
  z-index: 1;
  max-width: 50%;
  font-size: 1.8rem;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.leftText span {
  font-weight: bold;
  color: #f8c391;
}

.leftText.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.card {
  z-index: 1;
  background: #fff;
  padding: 40px;
  border-radius: 30px;
  border: 2.5px solid #6e4c2e;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 1);
}

.logo {
  width: 160px;
  height: 160px;
  object-fit: contain;
  margin-bottom: 35px;
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.6s ease-in forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: 'Playfair-Display';
  src: url('Fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'Playfair-Display', serif;
  font-weight: bolder;
  font-size: 1.2rem;
  color: #6e4c2e;
  margin-bottom: 15px;
  position: relative;
  bottom: 80px;
}


.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 30px;
}

.form input {
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 30px;
  position: relative;
  top: 15px;
  color: #555;
}

.options label {
  display: flex;
  gap: 2px;
}

.options input[type="checkbox"] {
  position: relative;
  top: 1px;
  accent-color: #4b2e2e;
  cursor: pointer;
}

.options label:hover {
  color: #8e5c36;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  color: #8e5c36;
}

.form button {
  padding: 10px;
  position: relative;
  top: 15px;
  background-color: #4b2e2e;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  display: block;
  text-align: center;
  transition: background 0.3s ease;
}

.form button:hover {
  background-color: #7a451c;
}
