.container {
    padding: 2rem;
    background-color: #f8f5f0;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    animation: fadeIn 0.5s ease-in-out;
    min-height: 82vh;
    max-height: 82vh;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  
  .container::-webkit-scrollbar {
    display: none;
  } 
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
  }
  
  .tabButton {
    background-color: transparent;
    border: 2px solid #a58c6f;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    color: #a58c6f;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
  }
  
  .tabButton:hover {
    background-color: #a58c6f;
    color: white;
  }
  
  .active {
    background-color: #a58c6f;
    color: white;
  }
  
  .tabContent {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .fadeInTab {
    animation: fadeSlideIn 0.4s ease-in-out;
  }

  @keyframes fadeSlideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3b1e0a;
    margin-bottom: 1rem;
    position: relative;
    bottom: 10px;
    display: block;
    text-align: center;
    font-size: 1.3rem;
  }
  
  .newReservation {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 2rem;
    align-items: start;
  }

  .formColumn {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 16px;
    margin-top: 66px;
    margin-left: 16px;
    width: 85%;
    border: 2px solid #a58c6f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .formColumn h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3b1e0a;
    display: block;
    text-align: center;
  }

  .formGroup {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1.0rem;
  }
  
  .formGroup label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #a58c6f;
  }
  
  input[type="date"],
  input[type="time"],
  select {
    padding: 0.6rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 500px;
    font-size: 1rem;
  }
  
  input[type="date"]:focus,
  input[type="time"]:focus,
  select:focus {
    border-color: #a58c6f;
  }

  input[type="date"]:hover,
  input[type="time"]:hover,
  select:hover {
    border-color: #a58c6f;
    box-shadow: 0 0 0 0.5px #a58c6f;
    transition: all ease-in 0.5s;
  }

  .formGroup select {
    max-width: 520px;
  }
  
  .confirmBtn {
    background-color: #3b1e0a;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.4s ease;
    display: flex;
    margin-left: 150px;
    gap: 0.5rem;
    margin-top: 2rem;
  }
  
  .confirmBtn:hover {
    background-color: #6b3d14;
    transform: translateY(-2px);
    transition: ease 0.5s;
  }

  .tableGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    margin: 1.5rem 0;
  }
  
  .tableCard {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #e0dcd5;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }
  
  .tableCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 0px 5px rgba(0,0,0,0.1);
  }
  
  .tableCard p {
    margin: 0.4rem 0;
    color: #5c5249;
  }
  
  .icon {
    font-size: 2rem;
    color: #a58c6f;
    margin-bottom: 0.5rem;
  }
  
  .tableCard button {
    margin-top: 0.5rem;
    padding: 0.4rem 4.7rem;
    background-color: #a58c6f;
    border: none;
    color: white;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    position: relative;
    top: 16px;
    right: 17px;
    transition: background-color 0.4s;
  }
  
  .tableCard button:hover {
    background-color: #8d755f;
  }
  
  .reservationList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .reservationCard {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    border: 2px solid #e2dfda;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .reservationCard:hover {
    box-shadow: 0 0px 2px rgba(0,0,0,0.0);
  }
  
  .reservationCard p {
    margin: 0.3rem 0;
    color: #5a4e45;
  }
  
  .actionButtons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .actionButtons button {
    background-color: transparent;
    border: none;
    color: #110e0c;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.4s;
  }
  
  .actionButtons button:hover {
    transform: scale(1.4);
    transition: all ease-in 0.2s;
  }

  .actionButtons button:first-child:hover {
    color: blue;
  }

  .actionButtons button:last-child:hover {
    color: red;
  }
  
  .tablesColumn {
    padding-top: 0.5rem;
  }

  .noReservationsMessage {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 50px;
    font-size: 1.2rem;
    color: #777;
    padding: 20px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }