.custom-toast-container {
    background-color: white;
    border-left: 6px solid rgb(241, 222, 144);
    padding: 10px 15px;
    color: #333;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    width: 240px;
    bottom: 15px;
    margin-left: 145px;
    border-radius: 6px;
  }
  
  .custom-toast-body {
    padding: 0;
    text-align: center;
  }
  
  .custom-toast {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .toast-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .toast-buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
  }

  .toast-buttons button:first-child {
    background-color: #dc3545;
    color: white;
    padding-left: 19px;
    padding-right: 19px;
  }
  
  .toast-buttons button:last-child {
    background-color: #6c757d;
    color: white;
  }
  
  .toast-buttons button:first-child:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }

  .toast-buttons button:last-child:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }

  .toastButton {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
  }
  
  .toastButton:hover {
    background-color: #0d8ddb;
  }

  .toastConfirmBtn {
    margin-top: 0.5rem;
    padding: 0.4rem 0.8rem;
    background-color: rgb(241, 222, 144);
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .toastConfirmBtn:hover {
    background-color: hsl(45, 69%, 51%);
  }

  .toastCancelBtn {
    padding: 0.4rem 0.8rem;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .toastCancelBtn:hover {
    background-color: #4d4d4d;
  }

  .custom-toast span {
    line-height: 20px;
  }