body,
html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

:global(.userContainer) {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  max-height: 90vh;
  scroll-behavior: smooth;
}

:global(.userContainer::-webkit-scrollbar) {
  display: none;
}

:global(.createButton) {
  background-color: #4a2b04;
  color: white;
  border: none;
  padding: clamp(6px, 0.7vw, 12px) clamp(8px, 0.7vw, 16px);
  font-size: clamp(12px, 1vw, 18px);
  border-radius: 10px;
  margin-top: 4vh;
  margin-bottom: 1.5vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  transition: color 0.4s ease;
  animation: fadeIn 0.8s ease;
}

:global(.userContainer.open) {
  padding-top: 20vh;
}

:global(.createButton:hover) {
  background-color: #6b3a01;
  transition: All ease-in-out 0.4s;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  font-size: clamp(12px, 1vw, 18px);
  box-shadow: 0px 0px 10px tan;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1000;
  table-layout: fixed;
  animation: fadeIn 0.8s ease;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: center;
}

.table td:last-child {
  border-left: 1px solid #724309;
}

.table tr:not(:last-child) {
  border-bottom: 1px solid #724309;
}

.table th {
  background-color: cornsilk;
  color: #5a3d1a;
  font-weight: bolder;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.table td {
  vertical-align: middle;
}

.actionIcon {
  cursor: pointer;
  color: #5a3d1a;
  font-size: clamp(12px, 1.1vw, 18px);
  position: relative;
  bottom: 5px;
  margin-top: 12px;
  transition: color 0.4s ease;
}

.actionIcon:hover {
  transform: scale(1.4);
  transition: transform 0.3s;
}

.icon {
  font-size: clamp(12px, 1.1vw, 18px);
}

.table tr:hover {
  background-color: rgb(255, 250, 244);
}

.input {
  width: 88%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.permissionPopup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -25%);
  background-color: #fbf6e4;
  padding: clamp(12px, 1.4vw, 25px);
  border: 2px solid #5a3d1a;
  border-radius: 15px;
  box-shadow: 0 0 10px #5a3d1a;
  width: 270px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.permissionPopup h4 {
  margin-bottom: 2.5vh;
  color: #5a3d1a;
  font-size: clamp(14px, 1.2vw, 20px);
}

.checkboxList label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: clamp(12px, 1vw, 18px);
}

.checkboxList input[type="checkbox"] {
  position: relative;
  top: 1px;
} 

.checkboxList {
  accent-color: #5a3d1a;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
  text-align: left;
  width: 100%;
}

.dash {
  font-weight: bolder;
  color: #5a3d1a;
}

.selectBox {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: clamp(12px, 0.8vw, 18px);
  width: 120px;
  transition: border 0.4s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20fill%3D'%23333'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http://www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M7%2010l5%205%205-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  position: relative;
  z-index: 1001;
}

.selectBox:focus {
  border-color: #5a3d1a;
  outline: none;
}

.input:focus {
  border-color: #5a3d1a;
  outline: none;
}

.selectCell {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.actionWrapper {
  background-color: white;
  border-radius: 12px;
  padding: 2px 10px;
  z-index: 1001;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.actionIcon[data-action="Edit"]:hover {
  color: blue;
}

.actionIcon[data-action="Delete"]:hover {
  color: red;
}

.actionIcon[data-action="Assign Roles"]:hover {
  color: #ffc107;
}

.actionIcon[data-action="Add"]:hover {
  color: rgb(25, 233, 25);
}

.actionIcon[data-action="Save"]:hover {
  color: rgb(25, 233, 25);
}

.actionIcon[data-action="Cancel"]:hover {
  color: red;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 2px 8px;
  background-color: white;
  border: 2px solid #5c3607;
  border-radius: 10px;
  position: sticky;
  bottom: 175px;
  z-index: 10;
}

.modalActions .icon {
  cursor: pointer;
  font-size: clamp(12px, 1.1vw, 18px);
  color: #5c3607;
  transition: color 0.4s ease;
}

.icon[data-action="Save"]:hover {
  color: rgb(25, 233, 25);
}

.icon[data-action="Cancel"]:hover {
  color: red;
}

.icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeInDelay 0.3s ease-in both;
  animation-delay: 0.4s; 
}

.emptyText {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: clamp(14px, 2.5vw, 18px);
  color: #888;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noResults {
  text-align: center;
  width: 100%;
  padding: 40px 0;
  color: #888;
  font-size: clamp(1rem, 1.1vw, 1.2rem);
  font-style: italic;
  font-weight: 450;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadeInDelay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 1600px) {
  :global(.userContainer) {
    padding: 30px 40px;
    max-width: 1400px;
    margin: 0 auto;
  }

  .table th,
  .table td {
    padding: 18px 22px;
  }

  .permissionPopup {
    width: 320px;
    height: auto;
    padding: 25px;
  }

  .checkboxList input[type="checkbox"] {
    top: 0vh;
  } 

  .modalActions {
    padding: 4px 8px;
    position: relative;
    bottom: 0;
  }
}

@media screen and (max-width: 1200px) {
  :global(.userContainer) {
    padding: 0;
    max-height: none;
  }

  :global(.createButton) {
    padding: 8px 10px;
    gap: 6px;
  }

  .table th,
  .table td {
    padding: 10px 12px;
    white-space: nowrap;
  }

  .permissionPopup {
    width: 240px;
    height: auto;
    padding: 15px;
  }

  .selectBox {
    width: 100px;
  }

  .input {
    width: 100%;
  }

  .modalActions {
    padding: 4px 8px;
    bottom: 0px;
  }

  .checkboxList input[type="checkbox"] {
    top: clamp(2px, 0.1vh, 4px);
  } 
}

@media screen and (width: 768px) {
  :global(.userContainer) {
    padding: clamp(12px, 3vw, 20px);
    max-height: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  :global(.createButton) {
    font-weight: 450;
    align-self: flex-start;
    position: static;
  }

  .table {
    font-size: clamp(13px, 2.2vw, 15px);
    overflow-x: auto;
    display: block;
    border-radius: 10px;
  }

  .table th,
  .table td {
    padding: 10px;
    min-width: 100px;
  }

  .table thead {
    position: sticky;
    top: 0;
    background-color: cornsilk;
    z-index: 5;
  }

  .permissionPopup {
    padding: clamp(15px, 3vw, 20px);
    z-index: 1050;
  }

  .actionIcon[data-action="Add"] {
    color: rgb(25, 233, 25);
    font-size: 1.1rem;
  }
  
  .actionIcon[data-action="Cancel"] {
    color: red;
    font-size: 1.1rem;
  }

  .input,
  .selectBox {
    width: 100%;
  }

  .modalActions {
    gap: 14px;
    padding: 6px 10px;
    bottom: 100px;
  }

  .actions {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .checkboxList input[type="checkbox"] {
    top: clamp(2px, 0.1vh, 4px);
  } 
}

@media screen and (max-width: 480px) {
  :global(.userContainer) {
    height: 100%;
    overflow-y: auto;
    padding: clamp(10px, 5vw, 16px);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  :global(.createButton) {
    margin-top: 5vh;
    align-self: flex-start;
    margin-bottom: 0;
    padding: 6px 8px;
    font-weight: 450;
  }

  .table {
    font-size: clamp(11px, 2.8vw, 13px);
    border-radius: 6px;
    box-shadow: none;
    overflow-x: auto;
    display: block;
  }

  .table::-webkit-scrollbar {
    display: none;
  }

  .table th,
  .table td {
    padding: 8px;
    min-width: 100px;
    text-align: center;
  }

  .actions {
    flex-direction: column;
    gap: 6px;
  }

  .permissionPopup {
    width: 60%;
    height: clamp(240px, 25vh, 340px);
    z-index: 1050;
  }

  .actionIcon[data-action="Add"] {
    color: rgb(25, 233, 25);
    font-size: 1rem;
  }
  
  .actionIcon[data-action="Cancel"] {
    color: red;
    font-size: 1rem;
  }

  .modalActions {
    position: relative;
    bottom: 0px;
  }

  .input,
  .selectBox {
    width: 100%;
  }

  .checkboxList input[type="checkbox"] {
    top: clamp(2px, 0.1vh, 4px);
  } 
}
