.container {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  position: relative;
  max-height: 650px;
}

.container::-webkit-scrollbar {
  display: none;
}

.createButton {
  background-color: #5c3607;
  color: white;
  border: none;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 10px;
  position: relative;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  transition: color 0.4s ease;
}

.createButton:hover {
  background-color: #8d4d04;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0px 0px 10px tan;
  border-radius: 12px;
  margin-left: 17px;
  z-index: 1001;
}

.table th,
.table td {
  padding: 12px 15px;
  border-bottom: 1px solid #724309;
  text-align: center;
}

.table th {
  background-color: cornsilk;
  color: #5a3d1a;
  font-weight: bolder;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}


.table td {
  vertical-align: middle;
}

.actionIcon {
  cursor: pointer;
  color: #5a3d1a;
  font-size: 18px;
  position: relative;
  bottom: 5px;
  margin-top: 12px;
  transition: color 0.4s ease;
}

.actionIcon:hover {
  transform: scale(1.4);
  transition: transform 0.3s;
}

.icon {
  font-size: 18px;
}

.table tr:hover {
  background-color: rgb(255, 250, 244);
}

.input {
  width: 101%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.permissionPopup {
  position: fixed;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -25%);
  background-color: #fff8e1;
  padding: 20px;
  border: 2px solid #5a3d1a;
  border-radius: 15px;
  box-shadow: 0 0 10px #5a3d1a;
  width: 270px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.permissionPopup h4 {
  margin-bottom: 20px;
  color: #5a3d1a;
  font-size: 18px;
}

.checkboxList label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.checkboxList {
  accent-color: #5a3d1a;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
  text-align: left;
  width: 100%;
}

.dash {
  font-weight: bolder;
  color: #5a3d1a;
}

.selectBox {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  width: 120px;
  transition: border 0.4s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20fill%3D'%23333'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http://www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M7%2010l5%205%205-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  position: relative;
  z-index: 1000;
}

.selectBox:focus {
  border-color: #5a3d1a;
  outline: none;
}

.input:focus {
  border-color: #5a3d1a;
  outline: none;
}

.selectCell {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.actionWrapper {
  background-color: white;
  border-radius: 12px;
  padding: 2px 10px;
  z-index: 1001;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.actionIcon[data-action="Edit"]:hover {
  color: blue; 
}

.actionIcon[data-action="Delete"]:hover {
  color: red; 
}

.actionIcon[data-action="Assign Roles"]:hover {
  color: #ffc107; 
}

.actionIcon[data-action="Add"]:hover {
  color: rgb(25, 233, 25);
}

.actionIcon[data-action="Save"]:hover {
  color: rgb(25, 233, 25);
}

.actionIcon[data-action="Cancel"]:hover {
  color: red; 
}

.modalActions {
  display: flex;
  justify-content: flex-end; 
  gap: 20px;                  
  padding: 2px 8px;
  background-color: white;  
  border: 2px solid #5c3607;
  border-radius: 10px;
  position: sticky;           
  bottom: 175px;
  z-index: 10;
}

.modalActions .icon {
  cursor: pointer;
  font-size: 20px;
  color: #5c3607;
  transition: color 0.4s ease;
}

.icon[data-action="Save"]:hover {
  color: rgb(25, 233, 25);
}

.icon[data-action="Cancel"]:hover {
  color: red; 
}

.icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

